{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<a href="{{ path('carnet_ajout') }}"> Ajouter une adresse</a>

    {% if clients is defined %}

        {% for client in clients %}

            <div> <a href={{  path( 'carnet_view' , {'id' : client.id})}}> {{ client.telephone }}</a></div>

        {% endfor %}

    {% endif %}


{% endblock %}
