{% extends 'base.html.twig' %}

{% block title %}Hello CarnetAdresseController!{% endblock %}

{% block body %}

    <div>{{ client.societe }}</div>
    <div>{{ client.firstName  ~ ' ' ~ client.lastName}}</div>
    <div>{{ client.firstName  ~ ' ' ~ client.lastName}}</div>
    <div> {{ client.telephone }} </div>


{% endblock %}
